---
layout: page
description: "「少有人走的路 到处都是风景」"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}




<div id="gitalk-container">
  <link rel="stylesheet" href="//unpkg.com/gitalk/dist/gitalk.css">
  <script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script>

  <script>
    var gitalk = new Gitalk({
      clientID: '27ab6265b4a2124d158c',
      clientSecret: '822f5ac59aad88a6c8e2b97c0333c82c32f30577',
      repo: 'yangxiaohan0120.github.io',
      owner: 'Yangxiaohan0120',
      admin: ['Yangxiaohan0120'],
      title: location.hash.match(/#(.*?)([?]|$)/)[1],
      id: location.hash.match(/#(.*?)([?]|$)/)[1],
    })
    // 监听URL中hash的变化，如果发现换了一个MD文件，那么刷新页面，解决整个网站使用一个gitalk评论issues的问题。
    window.onhashchange = function(event){
      if(event.newURL.split('?')[0] !== event.oldURL .split('?')[0]) {
        location.reload()
      }
    }
    // 由于docsify/lib/plugins/gitalk.min.js文件中已经有下面代码了，所以不需要在写一次了
    // gitalk.render('gitalk-container')
  </script>
</div>


<!-- 

<div class="block">
	<script type="text/javascript" src="public/plugins/components/gitalk.min.js"></script>
	<script type="text/javascript">
		window.title_id = window.location.hash.match(/#(.*?)([?]|$)/) ? window.location.hash.match(/#(.*?)([?]|$)/)[1] : '/';
		const gitalk = new Gitalk({
			// 这个需要在github上申请一个OAuth application
	        clientID: '27ab6265b4a2124d158c',   // GitHub Application Client ID
	        clientSecret: '822f5ac59aad88a6c8e2b97c0333c82c32f30577',   // GitHub Application Client Secret
	        repo: 'yangxiaohan0120.github.io', // //存储你评论 issue 的 Github 仓库名
	        owner: 'Yangxiaohan0120',
	        admin: ['Yangxiaohan0120'],    // 这个仓库的管理员
			title: decodeURI(window.title_id),
			distractionFreeMode: false,	// 是否添加全屏遮罩
			id: md5(window.location.hash),	// 页面的唯一标识，gitalk 会根据这个标识自动创建的issue的标签,我们使用页面的相对路径作为标识
			enableHotKey: true,	// 提交评论快捷键(cmd/ctrl + enter)
		})
	</script>
	<script type="text/javascript" src="public/plugins/components/docsify.gitalk.js"></script>
</div>

-->







